.friends {
    display: none;
}

.friends__list {
    max-height: $friends-max-height-mobile;
    overflow-y: scroll;
    // text-align: justify;

    @include media-breakpoint-up(sm) {
        max-height: $friends-max-height;
    }
}

.friends__item {
    display: inline-flex;
    margin-bottom: 31px;
    max-width: $friends-item-width;
    width: $friends-item-width;
}

.friend__photo-wp {
    height: $friends-avatar-height;
    max-height: $friends-avatar-height;
    width: $friends-avatar-width;
    max-width: $friends-avatar-width;

    margin-right: 17px;
    font-size: 13px;

}

.friend__info {
    position: relative;
    padding-bottom: 15px;
}

.friend__name {
    color: #1574af;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    display: block;
}

.friend__city {
    color: #373737;
    font-size: 11px;
    font-weight: 400;
    margin: 4px 0 0 0;
}

.friend__online {
    color: #2f8a26;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    margin: 0;
    bottom: 0;
}

// ****************************
//  Переопределение scrollbar

.scrollbar-outer>.scroll-element .scroll-bar {
    background-color: #0f7bb1;

    &:hover {
        background-color: darken(#0f7bb1, 5%);
    }
}

.scrollbar-outer>.scroll-element.scroll-draggable .scroll-bar {
    background-color: darken(#0f7bb1, 5%);
}

.scrollbar-outer>.scroll-element .scroll-element_track {
    background-color: #ededed;
}

.scrollbar-outer>.scroll-element.scroll-y .scroll-element_outer {
    width: 5px;
}

.scrollbar-outer>.scroll-element .scroll-element_outer,
.scrollbar-outer>.scroll-element .scroll-element_track,
.scrollbar-outer>.scroll-element .scroll-bar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}