.friends {
    display: none;
}

.friends__list {
    max-height: $friends-max-height-mobile;
    overflow-y: scroll;

    @include media-breakpoint-up(sm) {
        max-height: $friends-max-height;
    }
}

.friends__item {
    display: inline-block;
    margin-bottom: 31px;
    width: 100%;

    a {
        display: flex;
    }

    &:hover {
        background: lightgrey;
    }

    @include media-breakpoint-up(sm) {
        max-width: $friends-item-width;
        width: $friends-item-width;
    }
}

.friend__photo-wp {
    height: $friends-avatar-height;
    max-height: $friends-avatar-height;
    width: $friends-avatar-width;
    max-width: $friends-avatar-width;

    margin-right: 17px;
    font-size: 13px;

}

.friend__info {
    position: relative;
    padding-bottom: 15px;
}

.friend__name {
    color: $link-color;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    display: block;
}

.friend__city {
    color: $friends-city-color;
    font-size: 11px;
    font-weight: 400;
    margin: 4px 0 0 0;
}

.friend__online {
    color: $online-status-color;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    margin: 0;
    bottom: 0;
}

// ****************************
//  Переопределение scrollbar

.scrollbar-outer>.scroll-element .scroll-bar {
    background-color: $scroll-bar-color;

    &:hover {
        background-color: darken($scroll-bar-color, 5%);
    }
}

.scrollbar-outer>.scroll-element.scroll-draggable .scroll-bar {
    background-color: darken($scroll-bar-color, 5%);
}

.scrollbar-outer>.scroll-element .scroll-element_track {
    background-color: $scroll-bar-bg-color;
}

.scrollbar-outer>.scroll-element.scroll-y .scroll-element_outer {
    width: 5px;
}

.scrollbar-outer>.scroll-element .scroll-element_outer,
.scrollbar-outer>.scroll-element .scroll-element_track,
.scrollbar-outer>.scroll-element .scroll-bar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}