.profile {
    @include media-breakpoint-up(x480) {
        display: flex;
    }
}


.profile__col-1 {
    margin: 0 auto 20px auto;
    width: $user-photo-width;
    min-width: $user-photo-width;

    @include media-breakpoint-up(x480) {
        margin: 0 20px 0 0;
    }
}

.profile__photo-wp {
    height: $user-photo-height;
    width: $user-photo-width;
    margin-bottom: 5px;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.32);
    // border-radius: 2px;
}

.profile__name {
    font-size: 23px;
    color: $black-color;
    font-weight: 400;
    margin-top: 5px;
}

.profile__city {
    font-size: 11px;
    color: #757575;
    margin-top: 1px;
}

.profile__info {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 16px;

    tr {
        // margin-top: 9px;
        margin-top: 5px;
        display: block;


        @include media-breakpoint-up(x350) {
            display: flex;

        }
    }

    td {
        padding: 0;
        padding: 2px 0;
    }

    .interests {
        display: block;
        margin-top: 32px;
    }
}


.profile__title {
    font-size: 12px;
    color: $black-color;
    font-weight: bold;
    display: block;

    @include media-breakpoint-up(x350) {
        width: 130px;
        max-width: 130px;
        margin-right: 32px;
    }
}

.profile__content {
    font-size: 12px;
    color: $black-color;
}

.profile__email {
    color: #1574af;
    text-decoration: underline;
}


.profile__friended {
    padding: 0 5px;
}


.profile__add-interests {
    display: block;


    @include media-breakpoint-up(x350) {
        display: flex;
    }
}


.profile__interests {
    cursor: default;
    margin: 6px 2px 6px 0;
}

.interests__item {
    display: inline-block;
    border: 1px solid #d5d5d5;
    color: #1574af;
    font-size: 12px;
    padding: 5px 8px 5px 8px;
    margin: 0 2px 5px 0;
    cursor: pointer;
    border-radius: 3px;


    &:hover {
        background-color: #f3f3f3;
        color: $black-color;
    }
}

.profile__input-interest {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    margin-right: 10px;
    height: 30px;
    width: 100%;

    @include media-breakpoint-up(x350) {
        width: auto;
    }
}

.profile__add-interest {
    padding: 0 15px;
    margin-top: 10px;

    @include media-breakpoint-up(x350) {
        width: auto;
        margin-top: 0;
    }
}


// Поля, текст в которых можно изменять 
td.editBox {
    min-width: 130px;
}

.editBox {
    position: relative;

    .newText {
        position: absolute;
        top: 0;
        padding: 2px 5px;
        width: 100%;
        height: 100%;

        border: 1px solid #1574af;
        border-radius: 3px;
    }

    p.editText {
        margin: 0;
    }
}